.toolbar-container{
  display: flex;
  justify-content: center;
}
.table-container{
  width: 100%;
}

.mat-column-targa{
  text-align: center;
}

.mat-column-concessionario{
  text-align: center;
}

.mat-column-marchio{
  text-align: center;
}

.mat-column-maxSpeed{
  text-align: center;
}

.mat-column-cilindrata{
  text-align: center;
}

.mat-column-edit{
  text-align: center;
}

.mat-column-delete{
  text-align: center;
}
