<mat-toolbar color="primary" class="toolbar-container">
  <span><b>Lista Auto e Concessionarie</b></span>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="table-container"> <!---->
  <ng-container matColumnDef="DealerId">
    <th mat-header-cell *matHeaderCellDef><b>Dealer Id</b></th>
    <td mat-cell *matCellDef="let car"> {{car.dealerId}} </td>
  </ng-container>

  <ng-container matColumnDef="CarId">
    <th mat-header-cell *matHeaderCellDef><b>Car Id</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].id}} </td>
  </ng-container>

  <ng-container matColumnDef="Plate">
    <th mat-header-cell *matHeaderCellDef><b>Car Plate</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].plate}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef><b>Car Name</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].name}} </td>
  </ng-container>

  <ng-container matColumnDef="Brand">
    <th mat-header-cell *matHeaderCellDef><b>Brand</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].brand}} </td>
  </ng-container>

  <ng-container matColumnDef="Speed">
    <th mat-header-cell *matHeaderCellDef><b>Speed</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].speed}} Km/H </td>
  </ng-container>

  <ng-container matColumnDef="MaxSpeed">
    <th mat-header-cell *matHeaderCellDef><b>Max Speed</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].maxSpeed}} Km/H </td>
  </ng-container>

  <ng-container matColumnDef="Weight">
    <th mat-header-cell *matHeaderCellDef><b>Weight</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].weight}} Kg </td>
  </ng-container>

  <ng-container matColumnDef="Displacement">
    <th mat-header-cell *matHeaderCellDef><b>Displacement</b></th>
    <td mat-cell *matCellDef="let car"> {{car.listofCars[0].displacement}} cc </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef><b>Edit</b></th>
    <td mat-cell *matCellDef="let car">
      <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button> <!---->
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef><b>Delete</b></th>
    <td mat-cell *matCellDef="let car">
      <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button> <!---->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

