.toolbar-container{
  display: flex;
  justify-content: center;
}

.btn{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #1e1e1e;
}

.x-btn{
  display: flex;
  justify-content: flex-start;
}

.x-btn button:nth-child(1){
  margin-right: 45px;
}

// table{
//   width: 100%;
// }

// tr.example-detail-row {
  //   height: 0;
// }

// tr.example-element-row:not(.example-expanded-row):hover {
  //   background: #777;
// }

// tr.example-element-row:not(.example-expanded-row):active {
//   background: #efefef;
// }

// .example-element-row td {
//   border-bottom-width: 0;
// }

// .example-element-detail {
//   overflow: hidden;
//   display: flex;
// }

// .inner-table {
//   width: 100%;
// }
