.toolbar-container{
  display: flex;
  justify-content: center;
}

.table-container{
  width: 100%;
}

.mat-column-CarId{
  text-align: center;
}

.mat-column-Name{
  text-align: center;
}

.mat-column-Plate{
  text-align: center;
}

.mat-column-Brand{
  text-align: center;
}

.mat-column-MaxSpeed{
  text-align: center;
}

.mat-column-Weight{
  text-align: center;
}

.mat-column-Speed{
  text-align: center;
}

.mat-column-Displacement{
  text-align: center;
}

.mat-column-edit{
  text-align: center;
}

.mat-column-delete{
  text-align: center;
}
