<div class="title">
  <h1>Aggiungi una macchina</h1>
</div>
<div class="form-container">
  <div class="input-container">
    <mat-form-field class="example-full-width">
      <mat-label>Car Plate</mat-label>
      <input matInput placeholder="AA000AA">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Dealer ID</mat-label>
      <input matInput placeholder="1">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Brand</mat-label>
      <input matInput placeholder="Ferrari">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Max Speed</mat-label>
      <input matInput placeholder="350">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Displacement</mat-label>
      <input matInput placeholder="cc">
    </mat-form-field>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary"> Aggiungi</button>
  </div>
</div>
