<h1 mat-dialog-title>Modifica Auto</h1>
<div mat-dialog-content>
  <div class="form-container">
    <div class="input-container">
      <mat-form-field>
      <mat-form-field>
        <mat-label>Dealer Id</mat-label>
        <input matInput placeholder="1" name="dealerEdit">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Car Id</mat-label>
        <input matInput placeholder="1" name="carIdEdit">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Car Name</mat-label>
        <input matInput placeholder="1" name="carNameEdit">
      </mat-form-field>
      <mat-label>Car Plate</mat-label>
        <input matInput type="text" name="carPlateEdit" placeholder="AA000AA">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput placeholder="Ferrari" name="brandEdit">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Weight</mat-label>
        <input matInput placeholder="200 Kg" name="weightEdit">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Speed</mat-label>
        <input matInput placeholder="150" name="speedEdit">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max Speed</mat-label>
        <input matInput placeholder="350" name="maxSpeedEdit">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Displacement</mat-label>
        <input matInput placeholder="cc" name="displacementEdit">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial color="warn" (click)="onYesClick()">Si</button>
  </div>
